*.tar.gz
*.gz
rel/docker/config*
ebin/**
priv/db/**
priv/log/**
priv/archive_log/**
*.beam
.eunit
*~
.dialyzer.plt
.rebar
Mnesia**
*.log
*.dump
/logs
qlc_*
Mnesia.*/**
fprof**
_build/**
deps/**
.DS_Store*
rel/ems-bus
rel/*.gz
contrib/login_webpack/dist/**
contrib/login_webpack/node_modules/**
.vagrant/
.vscode/
.idea/**
tools/
**.bak
*.crashdump