%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et


{lib_dirs, ["deps"]}.
{sub_dirs, ["rel"]}.

% diretivas: debug, native_json
% {erl_opts, [{d, debug}, {d, native_json}]}.
% {erl_opts, [native, {hipe, [verbose]}]}.


{erl_opts, []}.


{deps, [
	{rfc3339,     	".*",  		{git, "https://github.com/andreineculau/rfc3339",    	{tag, "0.2.1-r15-compat"}}},
	{jsx,     		".*",   	{git, "https://github.com/talentdeficit/jsx",  			{tag, "v2.10.0"}}},
	{cowboy,     	".*",  		{git, "https://github.com/ninenines/cowboy",    		{tag, "2.6.3"}}},
	{json_rec,     	".*",  		{git, "https://github.com/justinkirby/json_rec",  		"master"}},
	{poolboy, 		".*", 		{git, "https://github.com/devinus/poolboy.git",  		{tag, "1.5.2"}}},
	{mochiweb,     	".*",   	{git, "https://github.com/mochi/mochiweb.git", 			{tag, "v2.20.0"}}}
	
]}.

{relx, [
    {release, {ems_bus, "2.0.11"},
     [ems_bus,
      sasl,
      inets,
      crypto,
      public_key,
      ssl,
      compiler,
      mnesia,
      cowboy,
      jsx,
      poolboy,
      rfc3339,
      mochiweb,
      json_rec]},

    {sys_config, "./rel/sys.config"},
    {vm_args, "./rel/vm.args"},

    {dev_mode, false},
    {include_erts, true},

    {extended_start_script, true}]
}.

