[defaults]
roles_path = /home/vagrant/.ansible/roles:./roles
collections_paths = ./collections:~/.ansible/collections
interpreter_python = /usr/bin/python3
inventory = ./inventory
result_format=yaml
host_key_checking = False
retry_files_enabled = False
deprecation_warnings = False
timeout = 30
